.about {
  box-sizing: border-box;
  width: 100%;
  height: 820px;
}

.A__container {
  height: 100%;
}

.A__box {
  width: 100%;
  height: 100%;
  background-color: #aa78eb;
}

.A__sticky {
  position: sticky;
  height: 100vh;
  top: 90px;
}

.A__box > div > span {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}

.A__data {
  margin: 20px;
  padding: 30px;
  font-family: "Grandiflora One", serif;
  font-weight: 600;
  font-size: 20px;
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.A__data > div > h1,
p {
  margin-top: 0;
  margin-bottom: 0px;
}

.about.show,
.A__data.show {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 320px) {
  .A__data {
    padding: 0;
    margin: 16px;
    font-size: 12px;
  }

  .A__sticky {
    top: 50px;
  }
}
