.contact {
  box-sizing: border-box;
  width: 100%;
  height: 820px;
  min-width: 320px;
}

.C__container {
  height: 100%;
}

.C__box {
  width: 100%;
  height: 100%;
  background-color: #3641dd;
}

.C__sticky {
  position: sticky;
  height: 100vh;
  top: 170px;
}

.C__box > div > span {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}

.C__title,
.C__sticky {
  position: sticky;
}

.C__title {
  top: 90px;
}

.C__contant {
  padding-top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.C__contant > span {
  color: #000 !important;
  font-size: 60px !important;
}

.C__contant > span > a > img {
  width: 60px;
}

@media screen and (max-width: 490px) {
  .C__contant {
    padding-top: 250px;
  }

  .C__contant > span {
    font-size: 30px !important;
  }

  .C__contant > span > a > img {
    width: 30px;
  }

  .C__sticky {
    top: 130px;
  }

  .C__title {
    top: 50px;
  }
}
