.footer {
  width: 100vw;
}

.footer__container {
  bottom: 0;
  padding: 30px;
  background: rgb(124, 157, 179);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container > span {
  font-family: "Roboto Condensed", sans-serif;
  color: #333333;
  font-size: 15px;
  font-weight: 600;
}

.F_icon > a > img {
  margin-top: 5px;
  height: 30px;
}
