/* 폰트 가져오기 */
@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* 인트로 스타일 */
.intro {
  width: 100%;
  height: 100vh;
}

.I_background {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #7b60f5;
  z-index: -2;
}

.I_title {
  position: fixed;
  width: 100%;
  top: 470px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  font-family: "Grandiflora One", serif;
  z-index: -1;
}

.I_background > img {
  width: 100%;
  height: 100%;
  opacity: 0.75;
}

.I_mouse__curser {
  position: relative;
  border-left: 1px solid #111;
  left: 2px;
  animation: banjjak 1s steps(1, end) infinite;
  z-index: -1;
}

@keyframes banjjak {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 490px) {
  /* 화면 작을 때 인트로 스타일 */
  .I_title {
    width: 100%;
    top: 300px;
    font-size: 25px;
  }
}
