/* 폰트 가져오기 */
@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* 스킬 섹션 스타일 */
.skills {
  box-sizing: border-box;
  width: 100%;
  height: 820px;
  min-width: 320px;
}

.S__logos__2 {
  display: none;
}

.S__container {
  height: 100%;
}

.S__box {
  width: 100%;
  height: 100%;
  background-color: #7060f5;
}

.S__sticky {
  position: sticky;
  height: 100vh;
  top: 130px;
}

.S__box > div > span {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}

/* 로고 박스 스타일 */
.S__logos {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 10px 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.S__logos:hover {
  width: 80%;
}

.S__logos > img {
  width: 100px;
  height: 100px;
  float: left;
  z-index: 2;
}

.S__text {
  position: absolute;
  width: 60%;
  left: 200px;
  color: #000 !important;
  font-family: "Grandiflora One", serif !important;
  font-size: 16px !important;
}

/* 작은 화면일 때 스타일 */
@media screen and (max-width: 768px) {
  .S__logos {
    display: none;
  }

  .S__sticky {
    top: 90px;
  }

  /* 로고 박스 스타일 */
  .S__logos__2 {
    position: absolute;
    overflow: hidden;
    left: 11%;
    width: 65%;
    height: 75px;
    padding: 10px;
    margin: 15px 10px;
    border-radius: 15px;
    display: flex;
    background-color: #fff;
    z-index: 1;
    transition:
      width 0.3s ease-in-out,
      height 0.4s ease-in-out,
      transform 0.4s ease-in-out,
      z-index 0.4s ease-in-out;
  }

  /* 로고별 스타일 조정 */
  .S__logos__2:hover {
    height: 495px;
    transition:
      height 0.4s ease-in-out,
      transform 0.4s ease-in-out;
    z-index: 5;
  }

  #S__logos__2__2 {
    margin-top: 120px;
  }

  #S__logos__2__2:hover {
    transform: translateY(-105px);
  }

  #S__logos__2__3 {
    margin-top: 225px;
  }

  #S__logos__2__3:hover {
    transform: translateY(-210px);
  }

  #S__logos__2__4 {
    margin-top: 330px;
  }

  #S__logos__2__4:hover {
    transform: translateY(-315px);
  }

  #S__logos__2__5 {
    margin-top: 435px;
  }

  #S__logos__2__5:hover {
    transform: translateY(-420px);
  }

  /* 로고 이미지 스타일 */
  .S__logos__2 > img {
    margin: 0 auto;
    width: 75px;
    height: 75px;
    float: left;
    z-index: 2;
  }

  /* 텍스트 스타일 */
  .S__text__2 {
    width: 90%;
    position: absolute;
    top: 100px;
    color: #000 !important;
    font-family: "Grandiflora One", serif !important;
    font-size: 20px !important;
  }
}
